<h1>Posts Index</h1>

<% if @posts.any? %>
<ul>
  <% @posts.each do |post| %>
    <li><%= image_tag(post.image.small_thumb.url, alt: 'Image')%> <%= link_to post.title, post_path(post) %> | <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?'} %></li>
  <% end %>
  <% else %>
  <p>There are currently no posts.</p>
<% end %>
</ul>

<%= link_to "Back", root_path %> | <%= link_to "New Post", new_post_path %>
